In [88]:
# ======================================================
# üì• Import des librairies
# ======================================================

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [89]:
# ======================================================
# üì• Importation du fichier CSV
# ======================================================

import pandas as pd

# saisir ici le chemin absolu de l'adresse du fichier au format csv
# ------------------------------------------------------------------

path = r"loan_data.csv"

def import_csv(path):
    """
    Charge un fichier CSV et retourne un DataFrame pandas.
    - V√©rifie que le fichier existe et est lisible.
    - Affiche les dimensions et un aper√ßu des premi√®res lignes.
    """
    try:
        df = pd.read_csv(path)
        print(f" ‚úÖ Fichier charg√© avec succ√®s : {path}\n")
        print(f" üìè Dimensions : {df.shape[0]} lignes √ó {df.shape[1]} colonnes\n")
        print(f" üìÑ Intitul√©s des colonnes : {list(df.columns)}\n")
     # aper√ßu visuel dans Jupyter
        return df.head(5)
    except FileNotFoundError:
        print(f"‚ùå Erreur : le fichier '{path}' est introuvable.")
    except pd.errors.EmptyDataError:
        print("‚ö†Ô∏è Le fichier est vide.")
    except Exception as e:
        print(f"üö® Erreur inattendue : {e}")

In [85]:
import_csv(path)

 ‚úÖ Fichier charg√© avec succ√®s : loan_data.csv

 üìè Dimensions : 9578 lignes √ó 14 colonnes

 üìÑ Intitul√©s des colonnes : ['credit.policy', 'purpose', 'int.rate', 'installment', 'log.annual.inc', 'dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util', 'inq.last.6mths', 'delinq.2yrs', 'pub.rec', 'not.fully.paid']

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [90]:
# ======================================================
# üìä Petit r√©sum√© des colonnes du dataset
# ======================================================

def resume_colonnes(df):
    """
    Donne un aper√ßu simple de chaque colonne :
    - type de donn√©es
    - nombre de valeurs uniques
    - nombre et pourcentage de valeurs manquantes
    - minimum, maximum, moyenne et √©cart-type (si num√©rique)
    """
    resume = pd.DataFrame({
        "Type": df.dtypes,
        "Valeurs_uniques": df.nunique(),
        "Valeurs_manquantes": df.isna().sum()
    })

    resume["%_manquantes"] = (resume["Valeurs_manquantes"] / len(df) * 100).round(2)

    # Calcul des statistiques de base
    resume["Min"] = df.min(numeric_only=True)
    resume["Max"] = df.max(numeric_only=True)
    resume["Moyenne"] = df.mean(numeric_only=True)
    resume["√âcart-type"] = df.std(numeric_only=True)

    print("üìã R√©sum√© du dataset :\n")
    display(resume)

# ======================================================
# üß© Utilisation
# ======================================================

resume_colonnes(df)

üìã R√©sum√© du dataset :

,Type,Valeurs_uniques,Valeurs_manquantes,%_manquantes,Min,Max,Moyenne,√âcart-type
credit.policy,int64,2,0,0.0,0.000000,1.000000e+00,0.804970,0.396245
purpose,object,7,0,0.0,NaN,NaN,NaN,NaN
int.rate,float64,249,0,0.0,0.060000,2.164000e-01,0.122640,0.026847
installment,float64,4788,0,0.0,15.670000,9.401400e+02,319.089413,207.071301
log.annual.inc,float64,1987,0,0.0,7.547502,1.452835e+01,10.932117,0.614813
dti,float64,2529,0,0.0,0.000000,2.996000e+01,12.606679,6.883970
fico,int64,44,0,0.0,612.000000,8.270000e+02,710.846314,37.970537
days.with.cr.line,float64,2687,0,0.0,178.958333,1.763996e+04,4560.767197,2496.930377
revol.bal,int64,7869,0,0.0,0.000000,1.207359e+06,16913.963876,33756.189557
revol.util,float64,1035,0,0.0,0.000000,1.190000e+02,46.799236,29.014417
inq.last.6mths,int64,28,0,0.0,0.000000,3.300000e+01,1.577469,2.200245
delinq.2yrs,int64,11,0,0.0,0.000000,1.300000e+01,0.163708,0.546215
pub.rec,int64,6,0,0.0,0.000000,5.000000e+00,0.062122,0.262126
not.fully.paid,int64,2,0,0.0,0.000000,1.000000e+00,0.160054,0.366676

In [91]:
df.describe()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000